.container {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  /* Item Grid Styles */
  display: grid;
  align-items: center;
  /* Min size of 105px */
  grid-template-columns: repeat(auto-fit, minmax(105px, 1fr));
  gap: 3px;
}
