.container {
  position: relative;
  overflow-y: auto;
  padding: 0 10px;
  width: 100%;
  /* Item Grid Styles */
  display: grid;
  align-items: center;
  /* Min size of 90px */
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  grid-template-rows: min-content;
  gap: 4px;
}
