.container {
  position: relative;
  overflow-y: scroll;
  padding: 0 10px;
  /* Item Grid Styles */
  display: grid;
  align-items: center;
  /* Min size of 100px */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: max-content;
  gap: 3px;
}
