.plus {
  background-color: #1d191f;
  border-radius: 5px;
  padding-bottom: calc(100% - 2px);
  width: 100%;
  justify-self: center;
  border: none;
  cursor: pointer;
  position: relative;
}

.plus:hover{
  background-color: #281e2c;
}

.plus:active{
  background-color: #2b202e;
}

.selected {
  font-style: normal;
  font-size: 60px;
  font-weight: 100;
  border-color: rgba(140, 126, 164, 0.87);
  color: white;

  > span {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.have{
  border: 1px solid #2196f3;

  > span {
    color: #2196f3;
  }
}

.want{
  border: 1px solid #fe3b3b;
  >span {
    color: #fe3b3b;
  }
  
}