@import '../../css/animations';

.accountWrapper {
  display: flex;
  font-size: 18px;
  height: calc(100vh - 122px);

  animation: transitionLeft 0.4s;
}

@media screen and (max-width: 700px) {
  .accountWrapper {
    margin-top: 3px;
    height: calc(100vh - 67px);
  }
}

@media screen and (max-width: 650px) {
  .accountWrapper {
    height: calc(100vh - 130px);
  }
}