* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #312635;
}

.secondaryWrapper{
  display: flex;
}


/*-----Navbar             ----*/

.navWrapper{
  display: flex;
  background-color: #47384D;
  justify-content: space-between;
  height: 75px;

}

.navLeft, .navRight{
  display: flex;
  align-items: center;
  
  /*border: 2px solid blue;*/
}


.navLeftItem, .navRightItem{
  display: flex;
  padding: 10px 15px 10px 15px;
  align-items: center;
  
  background-color: #47384D;
  transition: filter 400ms;
  border-radius: 10px;

  /*border: 2px solid pink;*/
}

.navLeftItem:hover{
  border-radius: 10px;
  filter: brightness(1.3);
  border-bottom: 2px solid #c48c00;
}

.currentPage{
  filter: brightness(1.3);
  border-bottom: 2px solid #c48c00;
}

.currentPage .navLeftContent{
  color: #c48c00;
}

.navLeftItem:active{
  border-radius: 10px;
  filter: brightness(2);
  border-bottom: 2px solid #c48c00;
}

.navLeftContent, .navRightContent{
  font-size: 21px;
  font-weight: 500;
  color: #F6F6F6;
  text-decoration: none;

  margin-left: 5px;
  margin-right: 5px;

  /*border: 2px solid orange;*/
}

.navRightItem .addTrade{
  display: flex;
  background: linear-gradient(180deg, #2C8E54 83.32%, #267947 83.33%);
  width: 152px;
  height: 36px;
  font-weight: 600;
  font-size: 19px;
  justify-content: center;
  align-items: center;
}

.addTrade:hover{
  cursor: pointer;
  filter: brightness(1.2);
}

#logo{
  height: 75px;
  background-color: #564B68;
  padding-left: 58px;
  border-radius: 0px;
  
  width: 170px;
  clip-path: polygon(100% 0, 70% 100%, 0 100%, 0 0);
}

#logo:hover{
  filter: brightness(1);
  border-bottom: none;
}

.tradeBellSection{
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.bell:hover{
  cursor: pointer;
  filter: brightness(1.2);
}

.profile{
  display: flex;
  border-radius: 0px;
  background-color: #564B68;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  height: 75px;
  width: 170px;
  justify-content: center;
}

.profile:hover{
  cursor: pointer;
  filter: brightness(1.2);
}

.profile .navRightContent{
  margin-left: 35px;
}

#center{
  display: flex;
  align-items: center;
}

/*-----Sidebar              ----*/

.sbWrapper{
  display: flex;
  background-color: #392C3E;
  flex-direction: column;
  
  width: 317px;
}

.sbSection{
  display: flex;
  
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.premiumSection{
  height: 115px;
  justify-content: center;
  
}

.premiumButton{
  display: flex;
  width: 255px;
  height: 53px;
  background-color: #2C8E54;
  color: #F6F6F6;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  font-weight: 500;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: filter 1000ms;
}

.premiumButton:hover{
  filter: brightness(1.2);
  cursor: pointer;
}

.premiumButton svg{
  margin-right: 18px;
  margin-bottom: 5px;
  width: 35px;
  height: 35px;
}

.filtersRL{
  height: 447px;
  justify-content: space-between;
}

.filterButton {
  display: flex;
  height: 44px;
  width: 244.5px;
  font-size: 13px;
  color: #101010;
  background: linear-gradient(180deg, rgba(206, 198, 224, 0) 46.88%, rgba(0, 0, 0, 0.05) 52.08%), #CEC6E0;
  
  border: 2px solid #5D4E76;

  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: filter 200ms;
}

.filterButton:hover {
  filter: brightness(1.075)
}

.filterButtonContent {
  padding-left: 10px;
}

.sbSection .filterButton svg {
  margin-right: 10px;
  margin-top: 3px;

  height: 22px;
  width: 22px;
}

#fix{
  display: inline;
  font-size: 11px;
  color: #5D4E76;

  margin-left: 8px;
}

.dropdown{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  width: 244.5px;
  
  max-height: 300px;

  background-color: #CEC6E0;
  border-right: 2px solid #5D4E76;
  border-left: 2px solid #5D4E76;
  border-bottom: 2px solid #5D4E76;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.54);
  transform: translateX(-2px);

  padding: 10px;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
}

.filterWrapper{
  display: flex;
  position: relative;
  flex-direction: column;
  
}

.filterInput{
  padding: 10px;
  width: 100%;
  box-shadow: 0px 0px 4px #5D4E76;
}

.itemNames{
  width: 100%;
  font-size: 12px;
  overflow: auto;
  scrollbar-color: #5D4E76 #CEC6E0;
  scrollbar-width: thin;
}

.menu-item{
  display: flex;
  min-height: 44px;
  align-items: center;
  transition: background 0.2s;

  padding-left: 8px;
  transition: padding 0.3s;
}

.menu-item:hover{
  color: #f6f6f6;
  background-color: #5D4E76;
  padding-left: 20px;
  
}

.sbSection ul li{
  display: inline;
  margin-right: 10px;
}

.footerFirst, .footerSecond, .footerThird{
  color: #F6F6F6;
  text-decoration: none;
  text-align: center; 
  font-size: 11px;
}

.footerFirst li a, .footerSecond li a, .footerThird li a{
  text-decoration: none;
  color: white;
}

#removeDecoration{
  text-decoration: none;
}

#sponsor{
  color: #F6F6F6;
  text-align: center;
}