* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #312635;
}

.secondaryWrapper{
  display: flex;
}


/*-----Navbar             ----*/

.navWrapper{
  display: flex;
  background-color: #47384D;
  justify-content: space-between;
  height: 75px;

}

.navLeft, .navRight{
  display: flex;
  align-items: center;
  
  /*border: 2px solid blue;*/
}

/*.navLeft{
  margin-left: 58px;
}*/

.navLeftItem, .navRightItem{
  display: flex;
  padding: 10px 15px 10px 15px;
  align-items: center;
  background-color: #47384D;
  transition: filter 400ms;
  border-radius: 10px;
}

.navLeftItem:hover, .navRightItem:hover{
  border-radius: 10px;
  filter: brightness(1.3);
  border-bottom: 2px solid #E7AA0F;
}

.test{
  filter: brightness(1.3);
  border-bottom: 2px solid #E7AA0F;
}

.navLeftItem:active, .navRightItem:active{
  border-radius: 10px;
  filter: brightness(2);
  border-bottom: 2px solid #E7AA0F;
}

.navLeftItem .active{
  background-color: white;
  color: black;
}

.navLeftContent, .navRightContent{
  font-size: 21px;
  font-weight: 500;
  color: #F6F6F6;
  text-decoration: none;

  margin-left: 5px;
  margin-right: 5px;

  transition: color 400ms;
}

.navRightContent{
  display: flex;
  margin-left: 30px;
}

#logo{
  height: 75px;
  background-color: #564B68;
  padding-left: 58px;
  border-radius: 0px;
  
  width: 170px;
  clip-path: polygon(100% 0, 70% 100%, 0 100%, 0 0);
}

#logo:hover{
  filter: brightness(1);
  border-bottom: none;
  
}

#center{
  display: flex;
  align-items: center;
}

/*-----Sidebar              ----*/

.sbWrapper{
  display: flex;
  background-color: #392C3E;
  flex-direction: column;
  
  width: 320px;
}

.sbSection{
  display: flex;
  
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.premiumSection{
  height: 115px;
  justify-content: center;
  
}

.premiumButton{
  display: flex;
  width: 255px;
  height: 53px;
  background-color: #2C8E54;
  color: #F6F6F6;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  font-weight: 500;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: filter 300ms;
}

.premiumButton:hover{
  filter: brightness(1.2);
  cursor: pointer;
}

.premiumButton svg{
  margin-right: 18px;
  margin-bottom: 5px;
  width: 35px;
  height: 35px;
}


.filtersRL{
  height: 447px;
  justify-content: space-between;
}

.sbSection .filterButton {
  display: flex;
  height: 44px;
  width: 244.5px;
  font-size: 13px;
  color: #101010;

  background: linear-gradient(180deg, rgba(206, 198, 224, 0) 46.88%, rgba(0, 0, 0, 0.05) 52.08%), #CEC6E0;
  
  border: 2px solid #5D4E76;

  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: filter 300ms;
}

.sbSection .filterButton:hover {
  filter: brightness(1.075);
}

.sbSection .filterButton div {
  margin-left: 10px;
}

.sbSection .filterButton svg {
  margin-right: 10px;
  margin-top: 3px;

  height: 22px;
  width: 22px;
}

#fix{
  display: inline;
  font-size: 11px;
  color: #5D4E76;

  margin-left: 8px;
}

.sbSection ul li{
  display: inline;
  margin-right: 10px;
}

.footerFirst, .footerSecond, .footerThird{
  color: #F6F6F6;
  text-decoration: none;
  text-align: center; 
  font-size: 11px;
}

.footerFirst li a, .footerSecond li a, .footerThird li a{
  text-decoration: none;
  color: white;
}



#removeDecoration{
  text-decoration: none;
}

#sponsor{
  color: #F6F6F6;
  text-align: center;
}