* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

*:focus, *:active{
  outline: none;
}

body{
  background-color: #312635;
  width: 100%;
  position: absolute;
}

.secondaryWrapper{
  display: flex;
}

.noUserInteraction{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari */
   -khtml-user-select: none;   /* Konqueror HTML */
     -moz-user-select: none;   /* Old versions of Firefox */
      -ms-user-select: none;   /* Internet Explorer/Edge */
          user-select: none;   /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.flex{
  display: flex;
}

.center {
	justify-content: center;
	display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

/*-----Navbar             ----*/

.navWrapper{
  display: flex;
  background-color: #47384D;
  justify-content: space-between;
  height: 60px;
}

.navLeft, .navRight{
  display: flex;
  align-items: center;
  
  /*border: 2px solid blue;*/
}


.navLeftItem, .navRightItem{
  display: flex;
  padding: 3px 15px 3px 15px;
  align-items: center;
  
  background-color: #47384D;
  border-radius: 10px;

  transition: background-color 400ms;
  /*border: 2px solid pink;*/
}

.navLeftItem:hover{
  border-radius: 10px;
  /*filter: brightness(1.3);*/
  background-color: #5c4964;

  border-bottom: 2px solid #e7aa0f;
}

.currentPage{
  background-color: #5c4964;
  border-bottom: 2px solid #e7aa0f;
}

.navLeftItem:active{
  border-radius: 10px;
  filter: brightness(1.3);
  border-bottom: 2px solid #e7aa0f;
}

.navLeftContent, .navRightContent{
  font-size: 19px;
  font-weight: 500;
  color: #F6F6F6;
  text-decoration: none;

  margin-left: 5px;
  margin-right: 5px;

  /*border: 2px solid orange;*/
}

.navRightItem .addTrade{
  display: flex;
  background: linear-gradient(180deg, #2C8E54 83.32%, #267947 83.33%);
  width: 135px;
  height: 30px;
  font-weight: 600;
  font-size: 17px;
  justify-content: center;
  align-items: center;
}

.addTrade:hover{
  background: linear-gradient(180deg, rgb(46, 148, 87) 83.32%, #28804b 83.33%);
}

#logo{
  height: 60px;
  background-color: #564B68;
  padding-left: 45px;
  margin-right: 20px;
  border-radius: 0px;

  width: 130px;
  clip-path: polygon(100% 0, 76% 100%, 0 100%, 0 0);
}

#logo:hover{
  filter: brightness(1);
  border-bottom: none;
}

.tradeBellSection{
  display: flex;
  justify-content: space-around;
  width: 250px;
}

.bell:hover{
  cursor: pointer;
  filter: brightness(1.2);
}

.profile{
  display: flex;
  border-radius: 0px;
  background-color: #564B68;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 24% 100%);
  height: 60px;
  width: 140px;
  justify-content: center;
}

.profile:hover{
  cursor: pointer;
  filter: brightness(1.2);
}

.profile .navRightContent{
  margin-left: 35px;
}

.loginButton{
  color: #f6f6f6;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

  padding-left: 40px;
}

#center{
  display: flex;
  align-items: center;
}

/*-----Sidebar              ----*/

.sbWrapper{
  display: flex;
  background-color: #392C3E;
  flex-direction: column;
  align-items: center;

  min-width: 280px;
  height: 100%;
}

.sbSection{
  display: flex;
  
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.premiumSection{
  height: 115px;
  justify-content: center;
}

.premiumButton{
  display: flex;
  width: 230px;
  height: 53px;
  background-color: #2C8E54;
  color: #F6F6F6;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  font-weight: 500;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: filter 300ms;
}

.premiumButton:hover{
  filter: brightness(1.2);
  cursor: pointer;
}

.premiumButton svg{
  margin-right: 18px;
  margin-bottom: 5px;
  width: 35px;
  height: 35px;
}

.filtersRL{
  height: 447px;
  justify-content: space-between;
}

.filterButton {
  display: flex;
  height: 44px;
  width: 220px;
  font-size: 12px;
  color: #101010;
  background: linear-gradient(180deg, rgba(206, 198, 224, 0) 46.88%, rgba(0, 0, 0, 0.05) 52.08%), #CEC6E0;
  
  border: 2px solid #5D4E76;

  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: filter 200ms;
}

.filterButton:hover {
  filter: brightness(1.075)
}

.filterButtonContent {
  padding-left: 10px;
}

.sbSection .filterButton svg {
  margin-right: 10px;
  margin-top: 3px;

  height: 22px;
  width: 22px;
}

#fix{
  display: inline;
  font-size: 11px;
  color: #5D4E76;

  margin-left: 8px;
}

.dropdown{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  width: 220px;
  
  max-height: 300px;

  background-color: #CEC6E0;
  border-right: 2px solid #5D4E76;
  border-left: 2px solid #5D4E76;
  border-bottom: 2px solid #5D4E76;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.54);
  transform: translateX(-2px);

  padding: 10px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.filterWrapper{
  display: flex;
  position: relative;
  flex-direction: column;
}

.filterInput{
  padding: 10px;
  width: 100%;
  box-shadow: 0px 0px 4px #5D4E76;
}

.itemNames{
  width: 100%;
  font-size: 12px;
  overflow: auto;
  scrollbar-color: #5D4E76 #CEC6E0;
  scrollbar-width: thin;
}

.menu-item{
  display: flex;
  min-height: 44px;
  align-items: center;
  transition: background 0.2s;

  padding-left: 8px;
  transition: padding 0.3s;
}

.menu-item:hover{
  color: #f6f6f6;
  background-color: #5D4E76;
  padding-left: 20px;
  
}

.leaderboards-wrapper{
  display: flex;
  width: 230px;
}

.leaderboards-header{
  display: flex;
  background-color: #47384d;
  width: 100%;
  height: 50px;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
}

.leaderboards-header p{
  color: #E7AA0F;
  font-weight: 600;
  font-size: 17px;
  margin-left: 15px;
}

.leaderboards-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #564b68;
  height: 100%;
  width: 100%;
  border-radius: 0px 0px 5px 5px;
}

.leaderboards-body div{
  display: flex;
  height: 30px;
  width: 100%;
  align-items: center;
  font-weight: 300;
  font-size: 13px;
}

.leaderboards-component{
  width: 90%;
  color: #948ca1;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 15px;
}


#firstPlace div, #firstPlace p{
  color: #E7AA0F;
  font-weight: 500;
  font-size: 14px;
}

#secondPlace div, #secondPlace p{
  color: #c4c4c4;
  font-weight: 500;
  font-size: 14px;
}

#thirdPlace div, #thirdPlace p{
  color: #bd4902;
  font-weight: 500;
  font-size: 14px;
}

.leaderboards-component div, .leaderboards-component p{
  font-weight: 400;
  font-size: 13px;
}

#firstPlace, #secondPlace, #thirdPlace{
  height: 40px;
  padding-left: 15px;
}

.paddingBetween{
  width: 8px;
}

.paddingBetween2{
  width: 15px;
}

#hr-line{
  width: 90%;
  height: 2px;
  margin-left: 5%;
  margin-right: 5%;
  background: linear-gradient(180deg, #47384D 52.59%, #66597B 52.59%);
}

.sbSection ul li{
  display: inline;
  margin-right: 10px;
}

.footer{
  margin-top: 40px;
  margin-bottom: 20px;
}

.footerFirst, .footerSecond, .footerThird{
  color: #F6F6F6;
  text-decoration: none;
  text-align: center; 
  font-size: 11px;
}

.footerFirst li a, .footerSecond li a, .footerThird li a{
  text-decoration: none;
  color: white;
}

.footerThird{
  margin-top: 15px;
}

#removeDecoration{
  text-decoration: none;
}


/*-----RL Trading (main)         ----*/

.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 40px 50px 0px 50px;

}

.main-top{
  display: flex;

  justify-content: space-between;
}

.trading-title{
  color: #F6F6F6;
  font-weight: 500;
  font-size: 36px;

  line-height: 100%;
}

.page-numbers{
  display: flex;

  align-items: flex-end;
  justify-content: center;
}

.pageButton{
  background: none;
  color: #938F8F;
  font-weight: 400;
  font-size: 18px;
  border: none;
  cursor: pointer;

  width: 30px;
}

.pageButton:hover{
  color: #F6F6F6;
  background-color: #564b68;
}

.pageButton:active{
  background-color: #595264;
}

.highlighted-page{
  color: #F6F6F6;
  background-color: #564b68;
}

.page-left{
  height: 10px;
  width: 10px;
  margin-right: 7px;
  margin-bottom: 8px;
  background-color: #F6F6F6;
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  cursor: pointer;
 
}

.page-right{
  height: 10px;
  width: 10px;
  margin-left: 7px;
  margin-bottom: 8px;
  background-color: #F6F6F6;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  cursor: pointer;
}

.main-middle{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}


.rltrade-container{
  display: flex;
  flex-direction: column;
  min-width: 1350px;

  background-color: none;
  border-bottom: 3px solid #47384D;
  border-left: 3px solid #47384D;
  border-right: 3px solid #47384D;
  margin-bottom: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.rltrade-cTopPlace{
  display: flex;
  background-color: #392C3E;
  height: 40px;

  justify-content: space-between;
}

.username{
  display: flex;
  background-color: #47384D;
  font-weight: 500;
  font-size: 21px;
  color: #f6f6f6;
  padding: 3px 18px 0px 23px;
}

.premium{
  color: #E7AA0F;
}

.top-triangle{
  display: flex;
  width: 25px;
  height: 100%;
  background-color: #47384D;
  clip-path: polygon(100% 0, 0 0, 0 100%);
}

.trade-reputation{
  display: flex;
  flex-direction: column;
  margin-left: 10px;

  justify-content: space-evenly;
}

.active-text{
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  color: #CEC6E0;
  line-height: 100%;
}

.trade-post-time{
  display: flex;
  font-size: 11px; 
  color: #CEC6E0;
  line-height: 100%;
}

.rltrade_cMidPlace{
  width: 100%;
  height: 100%;
  
  justify-content: space-between;
}

.rl-has-container{
  min-width: 411px;
  align-items: flex-start;
  padding: 10px 0px 20px 20px;
}

.rl-wants-container{
  min-width: 411px;
  align-items: flex-start;
  padding: 10px 0px 20px 20px;

}

.haswant-text{
  font-size: 18px;
  color: #F6F6F6;
  padding-bottom: 10px;
}

.has-items{
  display: grid;
  position: relative;
  grid-template-columns:  auto auto auto auto;
  column-gap: 3px;
  row-gap: 3px;
}

.want-items{
  display: grid;
  position: relative;
  grid-template-columns:  auto auto auto auto;
  column-gap: 3px;
  row-gap: 3px;
}


.rl_notes_buttons_container{
  max-height: 100%;
  min-width: 500px;
  padding: 20px;

  justify-content: space-between;
}

.notes-box{
  border: 4px solid #47384D; 
}

.notes-top{
  display: flex;
  height: 31px;
  background-color: #392C3E;
  font-weight: 500;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.68);
  align-items: center;
  padding-left: 10px;
}

.notes{
  
  font-weight: 300;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.95);
  padding: 5px 10px 5px 10px;
  overflow: auto;
  scrollbar-color: #392C3E #47384D;
  scrollbar-width: thin;
  text-align: justify;
}

.buttons-box button{
  background: none;
  font-weight: 500;
  font-size: 11px;
  color: #F6F6F6;
  border: 2px solid #47384D;
  border-radius: 5px;
  padding: 3px 10px 3px 10px;
  cursor: pointer;
  margin-right: 10px;
}

.buttons-box button:active{
  background-color: #47384D;
}

/*-----UserTrades              ----*/


.userTrades-page-wrapper{
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 200px;
}

.userTrades-top-section{
  display: flex;
  height: 100px;
  min-width: 1350px;
  align-items: center;
  justify-content: space-between;
}

.userTrades-top-section button{
  background: none;
  color: #f6f6f6;
  border: 1px solid #47384D;
  width: 133px;
  height: 30px;
  margin-right: 10px;

  cursor: pointer;
}

.userTrades-top-section button:hover{
  background-color: #47384D;
}

.userTrades-top-section button:active{
  background-color: rgb(83, 66, 90);
}

#del-all-trades-button{
  background-color: #D10A0A;
  width: 191px;
  height: 37px;
  font-weight: 600;
  font-size: 18px;
  color: #f6f6f6;
  margin-right: 0px;
}

.editDel-tradeButtons-section{
  position: relative;
  bottom: 20px;
  margin-bottom: 15px;
}

.editTrade-button{
  background: none;
  width: 153px;
  height: 37px;
  border: 2px solid #2C8E54;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #f6f6f6;
  cursor: pointer;
  transition: background 200ms;

  margin-right: 15px;
}

.deleteTrade-button{
  background: none;
  width: 153px;
  height: 37px;
  border: 2px solid #D10A0A;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #f6f6f6;
  cursor: pointer;
  transition: background 200ms;
}

.editTrade-button:hover{
  background: #2C8E54;
}

.deleteTrade-button:hover{
  background: #D10A0A;
}

/*-----Reputation              ----*/

.repWrapper{
  height: 500px;
  width: 100%;
  min-width: 800px;
  margin: 43px 43px 0px 43px;
}

.repSearch_wrapper{
  display: flex;
  margin-top: 43px;
  align-items: center;
  justify-content: center;
}

.rep-search-input{
  width: 400px;
  height: 33px;
  font-size: 12px;
  background-color: #F6F6F6;
  border-radius: 50px 0px 0px 50px;
  padding-left: 10px;
  border: none;
}

.rep-search-input:hover{
  box-shadow: 0 0 6px white;
}

.rep-search-input:active{
  box-shadow: 0 0 6px white;
}

.searchRep-button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f6f6f6;
  font-size: 12px;
  background-color: #47384d;
  height: 33px; 
  border-radius: 0px 40px 40px 0px;
  padding: 0px 15px 0px 15px;
  text-decoration: none;
}

.searchRep-button:hover{
  background-color: #55445c;
}

.searchRep-button:active{
  background-color: #604d68;
}

.repHeader{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #47384D;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.rep-header-left{
  justify-content: center;
  margin-left: 15px;
}

.rep-username{
  display: flex;
  color: #F6F6F6;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
}

.rep-title{
  display: flex;
  font-size: 24px;
  line-height: 24px;
  color: #766495;
  justify-content: flex-end;
}

.rep-grade{
  display: flex;
  font-weight: 500;
  font-size: 48px;
  color: #A2A2A2;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
}

.rep-header-right{
  align-items: center;
}

.rep-addrep-button{
  display: flex;
  align-items: center;
  width: 159px;
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  color: #F6F6F6;
  background: #564B68;
  margin-right: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: ease-in;
  transition: background 200ms;
}

.rep-addrep-button:hover{
  width: 163px;
  height: 40px;
  font-size: 15px;
  background: rgb(108, 94, 131);
}

.rep-addrep-button:active{
  background: rgb(130, 113, 156);
}

.rep-icon-inButton{
  margin: 0px 8px 0px 15px;
  height: 13px;
  width: 13px;
}

.rep-cutout{
  height: 100%;
  width: 45px;
  background-color: #564b68;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.rep-ups-downs{
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #564b68;
  padding-right: 20px;
  /*text-shadow: 4px 2px rgba(0, 0, 0, 1);*/
}

.rep-ups{
  font-weight: 500;
  font-size: 28px;
  color: #4BB156;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.rep-middle{
  margin-left: 8px;
  margin-right: 8px;
  color: #312635;
}

.rep-downs{
  font-weight: 500;
  font-size: 28px;
  color: rgb(223, 77, 77);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.rep-inbetween-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.rep-inbetween-section-left{
  display: flex;
}

.rep-inbetween-section-left p{
  font-weight: 500;
  font-size: 10px;
  color: #F6F6F6;
}

.rep-inbetween-section-right{
  display: flex;
}

.rep-inbetween-section-right button{
  background: none;
  font-weight: 500;
  font-size: 14px;
  color: #F6F6F6;
  border: none;
  cursor: pointer;
}

.rep-inbetween-section-right button:hover{
  color: #E7AA0F;
}

.rep-container{
  display: flex;
  width: 100%;
  height: 31px;
  background-color: #47384D;
  margin-bottom: 3px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-items: center;
  transition: height 0.2s;
  cursor: pointer;
}

.rep-container:hover{
  background-color: rgb(80, 62, 87);
  height: 40px;
}

.rep-container:active{
  background-color: rgb(95, 73, 104);
}

.rep-container p{
  color: #F6F6F6;
  font-weight: 500;
  font-size: 10px;
}

.rep-red{
  background-color: #CE4646;
}

.rep-vote{
  display: flex;
  width: 62px;
  height: 100%;
  font-weight: bold;
  font-size: 18px;
  color: #F6F6F6;
  border-radius: 4px 0px 0px 4px;
  align-items: center;
  justify-content: center;
}


.rep-category-buttons button{
  width: 133px;
  height: 30px;
  background: none;
  color: #f6f6f6;
  margin: 25px 15px 25px 0px;
  border: 1px solid #47384D;
  border-radius: 4px;
  cursor: pointer;
}

.rep-category-buttons button:hover{
  background: #47384D;
}

.rep-category-buttons button:active{
  background: rgb(99, 77, 107);
}

.rep-comment-input{
  display: flex;
  width: 588px;
  height: 227px;
  font-size: 12px;
  background: #312635;
  border: 3px solid #47384D;
  border-radius: 4px;
  color: #f6f6f6;
  overflow-wrap: break-word;

  padding: 10px 10px 0px 15px;
  margin-bottom: 25px;
}

.rep-button{
  width: 158px;
  height: 33px;
  font-weight: 500;
  font-size: 13px;
  color: #F6F6F6;
  background-color: #2C8E54;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-right: 15px;
  border: none;
  cursor: pointer;
}

.rep-button:hover{
  background-color: rgb(49, 158, 93);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.negative{
  background-color: #9F2727;
}

.negative:hover{
  background-color: rgb(182, 47, 47);
}

.rep-button:active{
  background-color: rgb(57, 182, 107);
}

.negative:active{
  background-color: rgb(214, 55, 55);
}

.rep-noUserFound-container{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.rep-noUserFound-container p{
  color: #f6f6f6;
  font-weight: 500;
  font-size: 30px;
}

.rep-noUserFound-container a{
  color: #81658b;
  font-weight: 500;
  font-size: 14px;
  margin-top: 20px;
}

.rep-noUserFound-container a:hover{
  color: #a07eac;
}

.rep-noUserFound-container a:active{
  color: #b992c7;
}


/*-----Add RL Trade              ----*/

.addRLWrapper{
  display: flex;
  flex-direction: column;
  height: 1005px;

  align-items: center;
  justify-content: space-evenly;
}

.newTradeTitle{
  color: #f6f6f6;
  font-size: 40px;
  font-weight: 500;
  
  padding: 0px;
  margin: 0px;
}

.rlHaveWantSection{
  display: flex;
  width: 938px;
  height: 395px;
  flex-direction: column;

  border: 3px solid #47384D;
}


.h-wTopPlace{
  display: flex;
  background-color: #392C3E;
  height: 40px;

  justify-content: space-between;
  transform: translateY(-3px);
}

.left-gameName, .right-gamePlatform{
  display: flex;
  color: #f6f6f6;
  background-color: #47384D;

  align-items: center;
  justify-content: center;
} 

.left-gameName{
  font-size: 21px;
  font-weight: 500;

  padding: 0px 40px 0px 20px;
  clip-path: polygon(100% 0, 90% 100%, 0 100%, 0 0);
}

.right-gamePlatform{
  font-size: 19px;

  border-radius: 5px 0px 0px 5px;
  padding: 0px 18px 0px 18px;
}


.allAddedItems{
  display: flex;
  height: 100%;

  margin-top: 10px;
  justify-content: space-between;
}

.hwLeftSection, .hwRightSection{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 400px;

  margin: 0px 14px 0px 14px;
}

.hTitle, .wTitle{
  display: flex;
  justify-content: space-between;
  color: #f6f6f6;
  font-size: 18px;

  padding: 0px 6px 0px 6px;
  margin-bottom: 10px;
}

.hTitle button, .wTitle button{
  background: none;
  color: #f6f6f6;
  font-weight: 500;
  font-size: 9px;
  width: 84px;

  border: 2px solid #564B68;
  border-radius: 4px;
  cursor: pointer;
}

.hTitle button:active, .wTitle button:active{
  background-color: #564B68;
}

.haveItems, .wantItems{
  display: grid;
  grid-template-columns:  auto auto auto auto;
  column-gap: 3px;
  row-gap: 3px;
  align-items: center;
  justify-content: center;
}

.haveItems button, .wantItems button{
  background-color: #392C3E;
  height: 95px;
  width: 95px;
  justify-self: center;
  border: 1px solid #564B68;
  cursor: pointer;
}

.haveItems button:hover, .wantItems button:hover{
  background-color: rgb(69, 55, 75);
}

#focusedButton{
  color: #564B68;
  font-style: normal;
  font-size: 60px;
  font-weight: 100;
  border: 1px solid #8C7EA4;
}

.RLicon{
  position: relative;
}

.editIcon{
  position: absolute; 
  height: 13px;
  width: 13px; 
  
  bottom: 76px;
  left: 6px;
  cursor: pointer;
}

.colorIcon{
  position: absolute; 
  height: 14px;
  width: 14px; 
  
  background: none;
  border-radius: 50px;  
  bottom: 76px;
  left: 77px;
  cursor: pointer;
}

.certIcon{
  position: absolute; 
  background-color: rgba(0, 0, 0, 0.5);
  color: #f6f6f6;
  font-size: 12px;
  height: 20px;
  width: 100%;

  bottom: 15px;
  text-align: center;
  cursor: pointer;
}

.AmountIcon{
  display: flex;
  position: absolute; 
  color: #f6f6f6;
  font-size: 11px;
  height: 20px;
  width: 100%;

  bottom: 73px;
  left: 23px;
  text-align: center;
  cursor: pointer;
}

.Black{
  border: 1px solid #656565;
  background: linear-gradient(90deg, #212121 43.66%, #0C0C0C 100%);
}

.Lime{
  background: linear-gradient(90deg, #AAE470 43.66%, #64C900 100%);
}

.BurntSienna{
  background: linear-gradient(90deg, #703727 43.66%, #4C1100 100%);
}

.Cobalt{
  background: linear-gradient(90deg, #4859C8 43.66%, #0021FF 100%);
}

.Crimson{
  background: linear-gradient(90deg, #B84D50 43.66%, #B50005 100%);
}

.ForestGreen{
  background: linear-gradient(90deg, #088608 43.66%, rgba(8, 134, 8, 0.35) 100%);
}

.Grey{
  background: linear-gradient(90deg, #CCCCCC 43.66%, rgba(189, 189, 189, 0.35) 100%);
}

.Orange{
  background: linear-gradient(90deg, #F98600 43.66%, rgba(255, 77, 0, 0.49) 100%);
}

.Pink{
  background: linear-gradient(90deg, #FA60C7 43.66%, rgba(250, 96, 199, 0.49) 100%);
}

.Purple{
  background: linear-gradient(90deg, #7E26D2 43.66%, rgba(126, 38, 210, 0.2) 100%);
}

.Saffron{
  background: linear-gradient(90deg, #F2EF14 43.66%, rgba(241, 238, 23, 0.57) 100%);
}

.SkyBlue{
  background: linear-gradient(90deg, #40AFF4 43.66%, rgba(68, 180, 251, 0.43) 100%);
}

.TitaniumWhite{
  background: linear-gradient(90deg, #FFFFFF 43.66%, rgba(255, 255, 255, 0.73) 100%);
}

.paint-tooltip{
  visibility: hidden;
  text-align: center;
  font-size: 12px;
  position: absolute;
  color: black;
  width: auto;
  background-color: #F6F6F6;
  padding-left: 3px;
  padding-right: 3px;

  top: 20px;
  left: 18px;
  z-index: 1;
  white-space: nowrap;
}

.colorIcon:hover .paint-tooltip{
  visibility: visible;
}

.RLicon-name-hover{
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #b72c30;
  color: #f6f6f6;
  font-size: 12px;
  font-weight: 500;
  width: 100%;
  max-height: 100%;

  text-align: center;
  bottom: 6px;
  white-space: wrap;
  z-index: 1;
}

.RLicon:hover .RLicon-name-hover{
  visibility: visible;
}


.rl-icon-dropdown{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 192px;
  height: 250px;

  justify-content: space-between;
  background-color: #FFFFFF;
  border: 1px solid #D8D8D8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.54);

  padding: 5px 10px 0px 10px;
  z-index: 2;
}


.rl-icon-dropdown-button-section{
  display: flex;
  position: relative;
  flex-direction: column;
  max-height: 100px;
  
}


.rl-icon-dropdown button,  .rl-icon-dropdown input{
  display: flex;
  width: 100%;
  height: 30px;
  background: none;
  font-size: 12px;
  
  padding-left: 10px;
  align-items: center;  
  border: 2px solid #B0C1FF;
  border-radius: 4px;
}

.rl-icon-dropdown button:hover{
  background-color: rgb(245, 246, 255);
}

.rl-icon-dropdown label {
  color: rgb(173, 173, 173);
  font-size: 10px;
}

.dd-arrow{
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin: 0px 10px 4px 0px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#submit-rl-filters-button{
  display: flex;
  color: #f6f6f6;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  font-weight: 500;
  font-size: 12px;
  margin-top: 8px;
  background-color: #2C8E54; 
  border: none;
}

#submit-rl-filters-button:hover{
  background-color: rgb(55, 145, 91); 
}

#delete-rl-filters-button{
  display: flex;
  color: #f6f6f6;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 10px;
  background-color: #9F2727; 
  border: none;

}

#delete-rl-filters-button:hover{
  background-color: rgb(161, 48, 48); 
}

.rl-dd-dd{
  position: absolute;
  width: 100%;
  height: 200px;                                     
  background-color: white;
  top: 100%;

  border-right: 2px solid #B0C1FF;
  border-bottom: 2px solid #B0C1FF;
  border-left: 2px solid #B0C1FF;
  border-top: 2px solid #B0C1FF;
  border-radius: 4px;

  overflow: auto;
  z-index: 1;
}

.rl-attribute-dd-item{
    display: flex;
    font-size: 12px;
    min-height: 30px;
    align-items: center;
    transition: background 0.2s;
  
    padding-left: 8px;
    transition: padding 0.3s;
    cursor: pointer;
  }
  
.rl-attribute-dd-item:hover{
    background-color: rgb(245, 246, 255);
    padding-left: 20px;
  
}

.rlChooseItemsSection{
  width: 938px;
  height: 405px;
  background-color: #221C24;

  border: 3px solid #47384D;
}


.choose-itemsTopPlace{
  display: flex;
  color: #c0c0c0;
  background-color: #392C3E;
  height: 31px; 

  font-size: 12px; 
  font-weight: 500; 
  padding-left: 20px;
  align-items: center;
}


.choose-itemsSearchFiltersRL{
  display: flex;
  padding: 15px;

  align-items: center;
}

.choose-itemsSearchFiltersRL div{
  display: flex;
  width: 28px;
  height: 28px;
  background-color: #47384D;

  justify-content: center;
  align-items: center;
}

.choose-itemsSearchFiltersRL input{
  background-color: #392C3E;
  color: #f6f6f6;
  height: 28px;
  width: 225px;

  padding-left: 10px;
  font-weight: 500;
  font-size: 10px;
  margin-right: 20px;
  border: none;
}

.RLfilter_icons_section{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.RLfilter_icon {
  height: 30px;
  width: 30px;
  margin-left: 12px;

  cursor: pointer;
}


.RLfilter_icons_section button {
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
}

.item-imagesRL{
  display: grid;
  position: relative;
  height: 300px;
  grid-template-columns:  auto auto auto auto auto auto auto auto auto;
  column-gap: 3px;
  row-gap: 3px;

  padding-left: 13px;
  overflow: auto;

  align-items: flex-start;
  justify-content: flex-start;

}

.item-imagesRL img{
  cursor: pointer;
}


.rlSubmitNotes{
  display: flex;
  align-items: flex-start;

  width: 938px;
}

.rlSubmitButton{
  display: flex;
  color: #f6f6f6;
  font-size: 12px;
  height: 33px;
  width: 107px;
  border: 2px solid #2C8E54;
  border-radius: 4px;
  background: none;

  align-items: center;
  justify-content: center;
  transition: background-color 200ms;
}

.rlSubmitButton:hover{
  background-color: #2C8E54;
  cursor: pointer;
}

.rlSubmitButton:active{
  background: rgb(113, 168, 135);
}

.rlNotesButton{
  display: flex;
  color: #f6f6f6;
  font-size: 12px;
  height: 33px;
  width: 107px;
  border: 2px solid #564B68;
  border-radius: 4px;

  margin-left: 15px;

  align-items: center;
  justify-content: center;
  transition: background-color 200ms;
}

.rlNotesButton:hover{
  background-color: #564B68;
  cursor: pointer;
}

/*-----Login popup             ----*/

.shading{
  position: absolute;
  width: 100%;
  height: 100vh;

  z-index: 2;

  background-color: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.loginWrapper{
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #47384D;

  width: 440px;
  height: auto;

  border-radius: 5px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

.loginHeader{
  display: flex;
  height: 57px;
  width: 100%;
}

.loginHeader-left, .loginHeader-right{
  display: flex;
  color: #F6F6F6;
  font-weight: 500;
  font-size: 21px;
  width: 50%;
  height: 57px;

  align-items: center;
  justify-content: center;
  
  cursor: pointer;
}

.loginHeader-left{
  border-radius: 5px 0px 0px 0px;
}

.loginHeader-right{
  border-radius: 0px 5px 0px 0px;
}

.colorBG{
  background-color: #564B68;
}

.loginHeader-left:hover, .loginHeader-right:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.loginHeader-left:active, .loginHeader-right:active{
  border-bottom: 2px solid #e7aa0f;
}


/*Blue Bottom*/
.loginHolder{ 
  display: flex;
  flex-direction: column;
  height: 100%;

  padding-bottom: 10px;
  padding-top: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.formItem{
  display: flex;
  flex-direction: column;
  width: 372px;
  height: 63px;

  margin-bottom: 15px;
  justify-content: space-between;
}

.formItem input:hover{
  border: 1px solid rgb(88, 105, 117);
}

.formItem input:focus{
  border: 2px solid #18A0FA;
}


.logFormText{
  color: #B1B1B1;
  padding-left: 8px;

  font-weight: 500;
  font-size: 13px;
}

.logFormInput{
  color: #f6f6f6;
  width: 100%;
  height: 33px;
  background: #47384D;
  font-size: 12px;

  margin-bottom: 5px;
  padding-left: 10px;
  border: 1px solid #564B68;
}

.rememberMeSection{
  height: 21px;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.rememberMeButton{
  display: flex;
  width: 24px;
  height: 21px;
 
  color: #f6f6f6;
  font-size: 20px;
  font-weight: 900;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border-radius: 5px;
  border: 2px solid #E7AA0F;
}

.rememberMeText{
  color: #F6F6F6;
  font-weight: 500;
  font-size: 13px;
}

.forgotPassword{
  color: #E7AA0F;
  font-weight: 500;
  font-size: 13px;
}

.loginNowButton{
  display: flex;
  color: #f6f6f6;
  background-color: #E7AA0F;

  font-weight: 500;
  font-size: 21px;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: filter 200ms;
}

.loginNowButton:hover{
  filter: brightness(1.05);
}


.orLoginWith{
  display: flex;
  color: #807395;
  height: auto;
  font-weight: 500;
  font-size: 13px;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}

.orLoginWith hr{
  border: 1px solid #564B68;
  width: 120px;
}

.loginSteamAndDiscord{
  flex-direction: row;
  align-items: center;
  height: auto;
}

.loginSteam, .loginDiscord{
  display: flex;
  flex-direction: row;
  color: #f6f6f6;
  width: 175px;
  height: 46px;

  font-weight: 600;
  font-size: 18px;
  border: 2px solid #E7AA0F;
  border-radius: 50px;

  align-items: center;
  justify-content: center;
  transition: background-color 200ms;
  cursor: pointer;
}

.loginSteam:hover{
  background-color: black;
  border: rgb(17, 17, 17);
}

.loginDiscord:hover{
  background-color: #7289da;
  border: #7289da;
}


/*-----My Account              ----*/

.accountWrapper {
	color: #F6F6F6;
	margin-top: 130px;
}

.accountFieldsWrapper {
	margin: 13px 0 0 56px;
	font-size: 20px
}

.accountFieldsWrapper label {
	display: inline-flex;
	margin-right: 5px;
}

.accountFieldsWrapper label>p {
	margin-bottom: 7px;
}

.accountFieldsWrapper input {
	display:block;
	background: #564B68;
	border: 0;
	color: #F6F6F6;
	width: 358px;
	padding: 10px 0 10px 20px;
	margin-bottom: 21px;
	font-size: 16px;
}

.accountFieldsWrapper button {
	display: block;
	font-size: 13px;
	margin-bottom: 51px;
	font-size: 13px;
	background: unset;
	border: 2px solid #47384D;
	border-radius: 5px;
	color: #F6F6F6;
	padding: 6px 12px;
	transition: background-color 400ms;
}

.accountFieldsWrapper button:hover {
	background-color: #564B68;
	cursor: pointer;
}

.tooltip {
	position: relative;
	display: inline-flex;
	border: 2px solid #564B68;
	border-radius: 100px;
	width: 22px;
	height: 22px;
	font-size: 13px;
	text-align: center;
	bottom: 2px;
}

.tooltip:before {
	content: "i";
	width: 100%;
}

.tooltip>div {
	position: absolute;
	pointer-events: none;
	filter: opacity(0);
	transition: filter .5s;
	bottom: 1em;
	margin-left: 50%;
	transform: translateX(-50%);
	width: 200px;
}

.tooltip:hover>div {
	pointer-events: unset;
	filter: opacity(1);
}

.tooltip>div>.tooltip-tip>p {
	background: black;
	border-radius: 10px;
	padding: 5px;
	margin: 0 auto;
	width: fit-content;
}

.tooltip .tooltip-bottom {
	border: 10px solid black;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	width: 0;
	height: 0;
	margin: 0 auto;
}

/*-----Account Sidebar              ----*/

.accountSb {
	color: white;
	text-align: right;
	width: 625px;
	height: 540px;
	padding-right: 31px;
	border-right: 1px solid #564B68;
	font-size: 24px;
}

.accountSb-nav {
	padding-top: 25px;
}

.accountSb-nav>a {
	color: white;
	padding: 12px;
	text-decoration: none;
	transition: background-color 400ms;
}

.accountSb-nav:hover>a {
	background: #47384D;
}

.accountSb-nav:active>a {
  filter: brightness(1.3);
}

.accountSb-nav>a.currentPage {
	background: #47384D;
}


/*-----Spinner              ----*/

.lds-roller {
  display: flex;
  position: absolute;
  width: 80px;
  height: 80px;

  margin-left: 45%;
  margin-top: 50px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*-----ToS              ----*/
.ToS {
	
}


.ToS h1 {
	color: white;
	margin: 21px 0 0;
	width: 100%;
	text-align: center;
	font-size: 48px;
}

.ToS-body {
	max-width: 1278px;
	background: #47384D;
	border-radius: 4px;
	padding: 30px 38px;
	color: #F6F6F6;
	margin: 21px 0;
}

.ToS-body h2:first-child {
	margin-top: 0;
}

.ToS-body h2 {
	font-size: 24px;
	font-weight: 600;
	display: list-item;
	list-style: decimal inside;
	margin: 51px 0 11px;
}

.ToS-body p {
	font-size: 18px;
	font-weight: 500;
}
